/*
    Base
*/

html {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

body {
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 100%;
    background-image: url(http://ppcdn.500px.org/42108888/b454bce9fa07be577a70cf7c91bcf59f8f3c23bf/2048.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

body, input {
    font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

/*
    Title

    1. animation is choppy on MS and FF, only enabled on webkit
*/

h2 {
    position: absolute;
    right: 0;
    transform: translate3d(-30px, -160px, 0);
    font-size: 60px;
    font-weight: 100;
}

h2 span {
    display: inline-block;
    -webkit-animation: magnify 5s linear infinite; /* 1. */
}

h2 span:nth-child(1) {
    -webkit-animation-delay: 1s; /* 1. */
}

h2 span:nth-child(2) {
    -webkit-animation-delay: 1.3s; /* 1. */
}

h2 span:nth-child(3) {
    -webkit-animation-delay: 1.6s; /* 1. */
}

h2 span:nth-child(4) {
    -webkit-animation-delay: 1.9s; /* 1. */
}

/*
    Subscribe form
*/

.subscribe {
    position: absolute;
    top: 70%;
    right: 0;
    transform: translate3d(100%, 0, 0);
    padding: 10px 15px;
    width: 600px;
    height: 70px;
    background-color: rgba(0, 0, 0, .6);
    transition: transform .5s;
}

.ready .subscribe {
    transform: none;
}

@media screen and (max-width: 600px) {
    .subscribe {
        top: auto;
        bottom: 10%;
        width: 100%;
    }
}

/*
    Email field
*/

[type=email] {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 28px;
    color: white;
}

[type=email]::-webkit-input-placeholder {
    color: #cecece;
    transition: opacity .5s, transform .5s;
}

[type=email]::-moz-placeholder {
    color: #cecece;
    -moz-transition: opacity .5s, -webkit-transform .5s;
}

[type=email]:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0) scale(1.5);
}

[type=email]:focus::-moz-placeholder {
    opacity: 0;
    -moz-transform: translate3d(20%, 0, 0) scale(1.5);
}

/*
    Submit button

    1. on some devices, webkit forces default some styles on the button
       http://stackoverflow.com/questions/20561814/ios-7-weird-button-on-a-html-submit-input
*/

[type=submit] {
    -webkit-appearance: none; /* 1. */
    position: absolute;
    border: none;
    border-radius: 3px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    transform: translate3d(120%, 0, 0);
    padding: 0;
    width: 140px;
    background: #45bb2f;
    font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    transition: all .4s cubic-bezier(.43,.17,.29,1.32);
    cursor: pointer;
}

[type=email]:focus ~ [type=submit] {
    transform: none;
}

/*
    Misc
*/

@-webkit-keyframes magnify {
    10% {
        -webkit-transform: scale(1.15) translateZ(0);
    }

    20% {
        -webkit-transform: none;
    }
}